# Python cache
__pycache__/
*.pyc

# Ignore large Random Forest model
models/random_forest_model.pkl

# Large raw data file
jan to may police violation_anonymized791b166.csv

# Environment
.venv/
env/
venv/
*.env
